<!--<si-home [owner]="title"></si-home>  &lt;!&ndash;//najlepsza opcja, można przekazywać obiekty itp &ndash;&gt;-->
<!--<si-home owner="title"></si-home>-->
<!--<si-home owner="{{title}}"></si-home>-->
<!--<si-home [owner]="'title'" (closed)="handleClosed($event)"></si-home>-->



<!--<h1 (click)="handleClick($event)">-->
  <!--{{title.toUpperCase()}}-->
<!--</h1>-->

<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a routerLink="/" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}" class="nav-item is-tab">Home</a>
      <a routerLink="/tv" routerLinkActive="is-active" class="nav-item is-tab">TV Show</a>
      <a href="" routerLinkActive="is-active"  class="nav-item is-tab">Contact</a>


    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>


